{{> head }}
{{> navbar }}

<div class="class row">

    <div class="class col-8">
        <h1>Slipknot</h1>
         <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis minus ipsam porro et commodi labore, asperiores fugit, accusantium dicta incidunt dolores voluptates, vitae odit fuga repellendus architecto. Quis, quod impedit.
         </p>
    </div>

    <div class="class col-4">
        <img src="assets/img/JohnWick.jpg" alt="img-thumbnail">
    </div>
</div>

{{> footer }}